{% for field_name, field_errors in form.errors.items() %}
    {% for error in
        field_errors %}
        <div class="flash-notice-narrow">{{ error }}</div>
    {% endfor %}
{% endfor %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/form.css') }}">
<div id="term-form-container">
    <form id="term-form" name="term_form" method="POST">
        {{ form.hidden_tag() }}
        <div id="term">
            <div id="languageSel"
                 {% if term.language_id is none and term.language is none %} {% else %} style="display: none" {% endif %}>
                {{ form.language_id(class="form-control") }}
            </div>
            {{ form.original_text }}
            <div id="def-container">
                {{ form.text(class="form-control", value=(form.original_text.data or '') ) }}
                <div class="term-element-box">
                    <img src="{{ url_for('static', filename='icn/external.png') }}"
                         title="Lookup"
                         onclick="do_term_lookup()" />
                    <img src="{{ url_for('static', filename='icn/eye.png') }}"
                         title="Images"
                         onclick="do_image_lookup()" />
                </div>
            </div>
            <div>{{ form.parentslist(class="form-control") }}</div>
            <div {% if hide_pronunciation %}style="display:none;"{% endif %}>{{ form.romanization(class="form-control") }}</div>
            <div id="translation-container">
                <div>{{ form.translation }}</div>
                <img {% if term.current_image %}style="grid-column: -1; display: block"{% endif %}
                     class="zoomableTermImage"
                     id="term_image"
                     src="{{ form.current_image.object_data or '' }}" />
            </div>
            <div id="status-container">
                {{ form.status(class="form-control") }}
                <div id="sync-status-container">
                    {{ form.sync_status(class="form-control", disabled=True) }}
                    <label for="sync_status">Link to parent</label>
                </div>
            </div>
            <div style="display: none">{{ form.current_image(class="form-control") }}</div>
            <div>{{ form.termtagslist(class="form-control") }}</div>
            <div id="term-button-container">
                <a href="" onclick="show_term_sentences(); return false;">Sentences</a>
                <div class="term-element-box">
                    {% if term.id %}<button id="delete" type="button" class="btn" onclick="deleteTerm()">Delete</button>{% endif %}
                    <button id="submit" type="submit" class="btn btn-primary" onclick="update_note()">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="sentencenote-container">
    <div id="sentence-note-message" class="smessage-floating-window">
        <div class="snote-flush-message">
            <p>Update note successful!</p>
        </div>
    </div>
    <textarea id="sentencenote"></textarea>
    <input id="snotetags" type="text" name="snotetags" class="form-control" />
    <button id="add-sentence-note"
            class="btn btn-primary"
            onclick="update_note();">Update Note</button>
</div>
<div>
    <div id="wordsearchbox" class="bottom-element">
        <input type="text" id="_searchword" name="_searchword" />
        <button type="button" onclick="searchword(); return false;">Search</button>
    </div>
</div>
<script src="{{ url_for('static',filename='js/form.js') }}"></script>
