{% extends 'base.html' %}
{% block title %}Terms{% endblock %}
{% block header %}Terms{% endblock %}
{% block body %}
    <table id="snotetable" class="table dataTable stripe">
        <thead>
            <tr>
{#                    <input type="checkbox" id="chkAll" onclick="handleChkAll()">#}
                <th>Sentence</th>
                <th>SentenceNote</th>
                <th>Tags</th>
                <th>BookName</th>
                <th>SentenceNoteID</th>
            </tr>
        </thead>
    </table>
    <script>

    $(document).ready(function() {
        render_datables()
    })


        async function render_datables(){
        res = await fetch('/sentence/sentencenotes');
        rows = await res.json();

        let table = $('#snotetable').DataTable(
                { data: rows.data,
                    columns: [
                        {"name": "Sentence"},
                        {"name": "SentenceNote"},
                        {"name": "Tags"},
                        {"name": "BookName"},
                        {"name": "SentenceNoteID"}
                    ],
                }
            )

        {#table.clear().rows.add(rows.data).draw()#}

    };

    {#fetch('/sentence/sentencenotes').#}
    {#then(res=>res.json())#}
    {#    .then(data=>{#}
    {#        console.log(data)#}
    {#        $('#snotetable').DataTable( {#}
    {#            data: data}#}
    {#         )}#}
    {#    )#}
    </script>
{% endblock %}
